<div class="row">
  <div class="col-md-6">
    <a routerLink="/" class="btn btn-link"><i class="fa fa-arrow-circle-o-left"></i>Back to Dashboard</a>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="crad-header">
        <h3>Add Setting</h3>
      </div>
    </div>
    <div class="crad-block">
      <form (submit)="onSubmit()">
        <div class="form-group">
          <label for="allowRegistration">Allow Registration</label>
          <input type="checkbox" [checked]="settings.allowRegistration"
                 id="allowRegistration"
                 (change)="settings.allowRegistration = !settings.allowRegistration">
        </div>
          <div class="form-group">
          <label for="disableBalanceOnAdd">Disable Balance on Add</label>
            <input type="checkbox" [checked]="settings.disableBalanceOnAdd"
                   id="disableBalanceOnAdd"
                   (change)="settings.disableBalanceOnAdd = !settings.disableBalanceOnAdd"></div>

        <div class="form-group">
          <label for="disableBalanceOnEdit">Disable Balance on Edit</label>
          <input type="checkbox" [checked]="settings.disableBalanceOnEdit"
                 id="disableBalanceOnEdit"
                 (change)="settings.disableBalanceOnEdit = !settings.disableBalanceOnEdit"></div>
        <input type="submit" class="btn btn-primary btn-block">
      </form>
    </div>
  </div>
</div>
