
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Client Panel</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" *ngIf="isLoggedIn">
          <a class="nav-link" routerLink="/">Dashboard </a>
        </li>
      </ul>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngIf="!isLoggedIn && showRegister">
          <a class="nav-link" routerLink="/login">Login </a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn && showRegister">
          <a class="nav-link" routerLink="/register">Register </a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" role="button" > {{loggedInUser}}</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" role="button" routerLink="/settings">Settings</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" role="button" (click)="onLogoutClick()"> Logout</a>
        </li>

      </ul>

    </div>
  </div>
</nav>
<br><br>
