<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-block">
        <img src="/assets/img/logo.png" alt="cpanel logo" class="mx-auto d-block">
        <h1 class="text-center">Login</h1>
        <form (submit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" [(ngModel)]="email" name="email" required id="email"  >
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" [(ngModel)]="password" id="password" name="paswword" required >
          </div>
          <input class="btn btn-primary btn-block" type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
</div>
